/* TRANSLATE TO SASS */

.task-list .clear-filter[filter-color="orange"] {
   background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
}
.task-list .page-header-image {
	background: url(../img/gradient.jpg);
}

.task-list .page-header {
	min-height: 300px;
	max-height: 300px;
	color: rgb(255, 255, 255);
	position: relative;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.task-list .button-container {
  text-align: center;
  margin-top: -106px;
}



.task-add .clear-filter[filter-color="orange"] {
   background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
}
.task-add .page-header-image {
	background: url(../img/gradient.jpg);
}
.task-add .page-header {
	min-height: 200px;
	max-height: 200px;
	color: rgb(255, 255, 255);
	position: relative;
	padding: 0;
	margin: 0;
	overflow: hidden;
}


/* .list-group-item { line-height: 2em; } */
.list-group-item .fa-bars { 
	cursor:  row-resize;

  vertical-align: middle;
}
/* .list-group-item .fa-bars:hover { 
	color: #fa7a50;
} */
.task-title {
	max-width: calc(100% - 150px);
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: middle;
}
